@import './settings';
@import "~foundation-sites/scss/foundation";
@include foundation-everything;

.header {
  background-color: teal;

  h1 {
    color: white;
    
    a {
      color: white;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .menu {
    a {
      color: white;
    }
  }
}

.main {
  margin-top: 20px;
}